* {
	margin: 0;
	padding: 0;
}

.name {
	text-align: left;
}

.night {
	background-image: url("./images/guo-xin-goh--8juRlGCr5c-unsplash.jpg");
	height: 100%;
	background-position: bottom 50% left 50%;
	/* Make the background image cover the area of the <div>, and clip the excess */
	background-size: cover;
	margin-bottom: 30px;
	padding-top: 5%;
	padding-bottom: 20%;
}

.day {
	background-image: url("./images/danny-de-groot-kUsaVA68ZbU-unsplash.jpg");
	height: 100%;
	background-position: bottom 50% left 50%;
	/* Make the background image cover the area of the <div>, and clip the excess */
	background-size: cover;
	margin-bottom: 30px;
	padding-top: 5%;
	padding-bottom: 20%;
}

/* change the background color */
.navbar-custom {
	background-color: #1e191a;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: #fbfbfb;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	color: #fff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: #db2d27;
}

a,
a:hover {
	color: #db2d27;
	text-decoration: none;
}

p {
	color: #7a7a7a;
	text-align: justify;
}

span {
	color: #7a7a7a;
}

h2 {
	padding-top: 100px;
	padding-bottom: 30px;
}

.container {
	margin-bottom: 30px;
}

.navbar {
	box-shadow: 0 2px 20px 0 rgba(110, 130, 208, 0.18);
}

.cropped {
	width: 160px; /* width of container */
	height: 228px; /* height of container */
	object-fit: cover;
}

.format {
	margin-top: 20px;
}

.accordion-button:not(.collapsed) {
	color: #db2d27;
}
